<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>db_OAS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StaffServlet</display-name>
    <servlet-name>StaffServlet</servlet-name>
    <servlet-class>com.lxitedu.st1610.servlet.StaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffServlet</servlet-name>
    <url-pattern>/staffServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CodingFilter</display-name>
    <filter-name>CodingFilter</filter-name>
    <filter-class>com.lxitedu.st1610.util.CodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BranchServlet</display-name>
    <servlet-name>BranchServlet</servlet-name>
    <servlet-class>com.lxitedu.st1610.servlet.BranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchServlet</servlet-name>
    <url-pattern>/branchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.lxitedu.st1610.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterTwoServlet</display-name>
    <servlet-name>RegisterTwoServlet</servlet-name>
    <servlet-class>com.lxitedu.st1610.servlet.RegisterTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterTwoServlet</servlet-name>
    <url-pattern>/registerTwoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PunchCardServlet</display-name>
    <servlet-name>PunchCardServlet</servlet-name>
    <servlet-class>com.lxitedu.st1610.servlet.PunchCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PunchCardServlet</servlet-name>
    <url-pattern>/punchCardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlanServlet</display-name>
    <servlet-name>PlanServlet</servlet-name>
    <servlet-class>com.lxitedu.st1610.servlet.PlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanServlet</servlet-name>
    <url-pattern>/planServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LimitServlet</display-name>
    <servlet-name>LimitServlet</servlet-name>
    <servlet-class>com.lxitedu.st1610.servlet.LimitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LimitServlet</servlet-name>
    <url-pattern>/limitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MaintainServlet</display-name>
    <servlet-name>MaintainServlet</servlet-name>
    <servlet-class>com.lxitedu.st1610.servlet.MaintainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaintainServlet</servlet-name>
    <url-pattern>/maintainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamineServlet</display-name>
    <servlet-name>ExamineServlet</servlet-name>
    <servlet-class>com.lxitedu.st1610.servlet.ExamineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamineServlet</servlet-name>
    <url-pattern>/examineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterParticularServlet</display-name>
    <servlet-name>RegisterParticularServlet</servlet-name>
    <servlet-class>com.lxitedu.st1610.servlet.RegisterParticularServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterParticularServlet</servlet-name>
    <url-pattern>/registerParticularServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Me_staff_Servlet</display-name>
    <servlet-name>Me_staff_Servlet</servlet-name>
    <servlet-class>com.lxitedu.st1610.servlet.Me_staff_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Me_staff_Servlet</servlet-name>
    <url-pattern>/me_staff_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Me_staff_view</display-name>
    <servlet-name>Me_staff_view</servlet-name>
    <servlet-class>com.lxitedu.st1610.servlet.Me_staff_view</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Me_staff_view</servlet-name>
    <url-pattern>/me_staff_view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Message_Servlet</display-name>
    <servlet-name>Message_Servlet</servlet-name>
    <servlet-class>com.lxitedu.st1610.servlet.Message_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Message_Servlet</servlet-name>
    <url-pattern>/message_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Message_view</display-name>
    <servlet-name>Message_view</servlet-name>
    <servlet-class>com.lxitedu.st1610.servlet.Message_view</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Message_view</servlet-name>
    <url-pattern>/message_view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.lxitedu.st1610.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.lxitedu.st1610.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/downloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeServlet</display-name>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>com.lxitedu.st1610.servlet.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/noticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchService</display-name>
    <servlet-name>BranchService</servlet-name>
    <servlet-class>com.lxitedu.st1610.service.BranchService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchService</servlet-name>
    <url-pattern>/BranchService</url-pattern>
  </servlet-mapping>
</web-app>